.language-select {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  label{
    font-size: 2.5em;
  }

}

#languages{
  outline:none;
  border-radius: 20px;
  height: 5vh;
  padding : 0.5em;
  border-collapse: collapse;
}

.btn-choose{
  height: 5vh;
  border-radius: 20px;
  text-align: center;
  background-color: #2B0853;
  cursor: pointer;
}

#check-icon{
  color: white;
  font-size: 1.2rem;
}