.language-select {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 2em;

  label{
    font-size: 2.5em;
  }

  .flag-container{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap : 50px 50px;
  }
  .card-flags{
    cursor: pointer;
    transition: transform .3s ease-in; /* Animation */
  }

  .card-img-top{
    width: 90px;
    height: 90px;
  }

  .flag-name{
    opacity: 0;
    font-size: 1em;
  }

  .card-flags:hover{
    transform: scale(1.2);
  }
  .card-flags:hover + .flag-name{
    opacity : 1;
    transition: 0.3s ease-in;
  }

}

#languages{
  outline:none;
  border-radius: 20px;
  height: 5vh;
  padding : 0.5em;
  border-collapse: collapse;
}

.btn-choose{
  height: 5vh;
  border-radius: 20px;
  text-align: center;
  background-color: #2B0853;
  cursor: pointer;
}

#check-icon{
  color: white;
  font-size: 1.2rem;
}

.logo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 1;
  font-family: 'Bubblegum Sans', cursive;
  font-size: 3em;
  font-style: italic;
  font-weight: bold;
  margin-top: 2.5em;

}

.language-select img{
  width: 20px;
  height: 20px;
}