#game{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

#countdownStart{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size : 7em;
  color: white;
  animation: zoomzoom-in 4s ease-in;

  //span{
  //
  //  //transform: scale(1.2);
  //  //transition: transform .3s ease-in; /* Animation */
  //}
}

@keyframes zoomzoom-in {
  0% {
    transform: scale(1, 1);
  }
  50%{
    transform: scale(1.5, 1.5);
  }
  100%{
    transform: scale(2, 2);
  }
}

.hide{
  display: none;
}

.topStats{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5em;

  span{
    font-size : 25px;
  }
}

.inputAnswer{
  position: relative;
  top: 70px;

  input{
    width: 80%;
    padding : 5px;
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius : 20px;
  }
}