#game{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

#countdownStart{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size : 7em;
  color: white;
  text-align: center;
  animation: zoomzoom-in 4s ease-in;
}

@keyframes zoomzoom-in {
  from {
    transform: scale(1, 1);
  }
 to {
   transform: scale(1.2, 1.2);
 }
}

.hide{
  display: none;
}

.topStats{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5em;

  span{
    font-size : 25px;
  }
}

.inputAnswer{
  position: relative;
  top: 70px;

  input{
    width: 80%;
    padding : 5px;
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius : 20px;
  }
}

#wordDisplay{
  position: relative;
  top: 30px;
  text-align: left;
  font-size: 1.5em;
}