
.playGame{
  margin-top:40px;
  cursor: pointer;
  clip-path: circle(50%);
  transition: transform .3s ease-in; /* Animation */

  &:hover{
    transform: scale(1.2);
  }
}

.iconBackground{
  position: absolute;
  background-color: #fff;
  border-radius: 100%;
  left: 47%;
  top: 35%;
  width:90px;
  height: 90px;


}


.start-msg{
  font-size : 25px;
  opacity : 0;
  letter-spacing: 1px;

}

.playGame:hover + .start-msg{
  opacity : 1;
  transition: 0.3s ease-in;
}

.home{
  position : absolute;
  top: 40%;
  width : 100%;
}

.gameTitle{
  font-size : 1.5em;
}