@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');


.App {
  text-align: center;
  font-family: 'Bubblegum Sans', cursive;
}

.restart{
  left: 25%;
  top : 80%;
  position: fixed;
  cursor: pointer;
  background: none;
  border: none;
  color: white;
  font-family: 'Bubblegum Sans', cursive;
  font-size: 20px;
  display: flex;
  gap: 5px;

}

.logo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 1;

  //img{
  //  width: 250px;
  //  height:250px;
  //}
}

.speaker{
    position: fixed;
    top: 15%;
    right: 22%;
    cursor: pointer;
    z-index: 1;
}

#audio{
    position: absolute;
    top: 15%;
    right: 20%;
    cursor: pointer;
    z-index: 1;
}
